.carousel{
    display: none !important;
}
.card-text{
    font-size: 12px;
}
.heading{
    color:blueviolet
}
.home{
    width: 100%;
    /* height: 100vh; */
}
.home img{
    width: 100%;
}
.font_icons i{
    font-size: 17px;
}